/* START GLOBAL RULES */
:root {
    --blue-color: #2980b9;
    --green-color: #7fb13d;
    --purple-color: #8e44ad;
    --sky-blue-color: #3498db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f6f9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }

}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

/* END GLOBAL RULES */
.jobs-list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.jobs-list .heading-text {
    text-align: center;
    margin-bottom: 50px;
}

.jobs-list .heading-text h1 {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 50px;
    position: relative;
}

.jobs-list .heading-text h1::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--blue-color);
    transform: translate(-50%, 25px);
}

.jobs-list .heading-text p {
    color: #8b8b8b;
    line-height: 1.7;
}